<!DOCTYPE html>
<html lang="ro">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.min.css">

</head>
<body>
    <div class="container">
{{ title }}
        <!-- Main Content -->
        <div class="result">
                {{ data }}
        </div>
    </div>
    <!-- end of Container -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="../lib/jquery/dist/jquery.min.js"></script>
    <script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../js/news.min.js"></script>
</body>
</html>
