<!DOCTYPE html>
<html lang="ro">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Stiri din Cluj</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ baseUrl }}/lib/bootstrap/dist/css/bootstrap.min.css">
    <link href="{{ baseUrl }}/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                   <span class="sr-only">Toggle navigation</span>
                   Menu <i class="fa fa-bars"></i>
               </button>
                <a class="navbar-brand" href="index.html">Stiri la minut</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="home.html">Cluj-Napoca</a>
                    </li>
                    <li>
                        <a href="floresti.html">Floresti</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Stiri Cluj-Napoca</h1>
                        <hr class="small">
                        <span class="subheading">Stati conectati la realitatea cotidiana</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for item in results %}
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">{{ item.title }}</h4>
                        <span class="content">
                                {{ item.content }}
                            </span>
                        <a href="{{ item.link }}" target="_blank">Read more .....</a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer>
        <p class="copyright text-muted">Copyright &copy; ACM Development 2017</p>
    </footer>
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ baseUrl }}/lib/jquery/dist/jquery.min.js"></script>
    <script src="{{ baseUrl }}/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="{{ baseUrl }}js/clean-blog.min.js"></script>
</body>

</html>